* {
  margin: 0;
  box-sizing: border-box;
  color: #472d30;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

main, body {
  height: 100%;
  background-color:#c9cba3;
  /* min-width: 200px;
  min-height: 730px; */
}

.text {
  text-align: center;
}
/* #product{
  min-width: 250px;
} */
@media (max-width: 500px){
#single-sauce-img, #text{
    flex-direction: column;
  }
}

h1 {
  font-weight: bolder;
  font-size:50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input, .form select, .form button {
  width: 50%;
  padding: 15px;
  margin: 5px;
}

.details input, .details select, .details button {
  width: 110%;
}

button {
  cursor: pointer
}

#product {
  display: inline-block; 
  width: 50%;
  /* height: px; */
  margin-bottom: 35px;
  justify-self: center;
  min-width: 250px;
}

#single-sauce-img {
  display: block; 
  width: 100%;
  object-fit: contain; 
  height: 50%;
}

.plus {
  margin-left: 25px;
}

.sauce-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sauce-details img {
  width: 25%;
}

.back-btn {
  width: 50px;
  height: 50px;
  align-self: flex-start;
  margin-right: 100px;
  cursor: pointer
}

.edit {
  margin-bottom: 25px;
  align-self: flex-end;
}

#delete-btn {
  display: block;
  margin-left: 90%;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc p {
  margin: 10px 0;
}

.sauce-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* For responsiveness, 
might be worth increasing 
Text size in mobile view 
(@media screen and (max-width: 500px)
Also might be worth changing the sauce list 
on mobile view to display flex and show a single column
Ben also wondering about maybe adding border/ margin to the sauce images
to make newly added ones, similar sized
*/